body {
  background-color: var(--jellow);
  padding: 30px;
}

h2 {
  font-family: sans-serif;
  font-size: 24px;
  color: var(--gray);

  & span {
    color: var(--red);
  }
}


a {
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px;
  background-color: var(--gray);
  color: var(--jellow);
  text-decoration: none;
}

/* .section {
  & h2 {
    margin-bottom: 10px;
  }
} */

h2 {
  font-size: 66px;
  margin-bottom: 10px;
}

ul {
  font-family: sans-serif;
  font-size: 16px;
  color: darkblue;
  padding-left: 30px;

  li {
    :not(:last-child) {
      margin-bottom: 10px;
    }
  }

}